<!DOCTYPE html>
<html ng-app="metaInfos">
<head>
    <title></title>
    <script type="text/javascript" src="angular.js"></script>
    <script type="text/javascript" src="jquery-2.1.4.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body>
    <div ng-controller="UserCtrl">
        <h1>Current Names:</h1>
        <div ng-repeat="n in names">
            <h3>{{ n }}</h3>
        </div>
        <div>
            New name: <input ng-model="name" />
            <h2>{{ name }}</h2>
            <button ng-click="addName(name)">Add</button>
        </div>
    </div>
</body>
</html>