<!DOCTYPE html>
<html ng-app="metaInfos">
<head>
    <title></title>
    <script type="text/javascript" src="angular.js"></script>
    <script type="text/javascript" src="jquery-2.1.4.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body>
    <div ng-controller="UserCtrl">
        Name_1: <input ng-model="name" />
        <h2>{{ name }}</h2>
    </div>
    <div ng-controller="UserCtrl">
        Name_2: <input ng-model="name" />
        <h2>{{ name }}</h2>
    </div>
    <div>
        Outside the scope: 
        <h2>{{ name }}</h2>
    </div>
</body>
</html>